---
layout: home
title: KENNY的喃喃自语
---

{% for post in site.posts %}

  <section class="post-home">
    <div class="meta-data">
	<h1>{{ post.url }}</h1>
      <span class="date">
        {{ post.date | date: "%d %B %Y" }}      
      </span> 
      {% if post.external %}
        <span class="external">External link</span>
        <a class="permalink" href="{{ post.url }}">Permalink</a>
      {% endif %}
    </div>
    <h1><a href="{% if post.external %} {{ post.external }} {% else %} {{ post.url }} {% endif %}">{{ post.title }}</a></h1>    
    {% if post.summary-only %}
        <div class="summary">
        {{ post.content }}
		 <p> <a href="{{ post.url }}" >阅读全文…</a></p>
        </div>        
    {% else %}
       <p class="post-summary grid_14 prefix_3 alpha omega">{{ post.summary }}</p>
	   <p> <a href="{{ post.url }}" >阅读全文…</a></p>
    {% endif %}    
    <div class="clear"></div>
  </section>
{% endfor %}