---
layout: home
title: KENNY的喃喃自语
---
  <section class="post-home">
    <div class="meta-data">
	 <span class="date">30 April 2013</span> 
    </div>
    <h1><a href=" /2013/04/technical-guide-for-website.html ">『置顶』大中型网站架构技术浅析</a></h1>    
       <p class="post-summary grid_14 prefix_3 alpha omega"></p><p>貌似有点儿标题党了 -_-# ..想写这一系列文章很久了，但一直提不起劲写。五一抽空写了下，just分享一下自己的一些心得，不会对部分技术深入探讨，大牛们勿喷。陆续更新中...</p><p>已更新：</p><ul>
<li>缓存机制与使用</li>
<li>web 安全</li>
</ul><p></p>
	   <p> <a href="/2013/04/technical-guide-for-website.html">阅读全文…</a></p>
    <div class="clear"></div>
 </section>
{% for post in site.posts %}
 {% if post.url =="/2013/04/technical-guide-for-website.html" %}
 
 {% else %}
  <section class="post-home">
    <div class="meta-data">
      <span class="date">
        {{ post.date | date: "%d %B %Y" }}      
      </span> 
      {% if post.external %}
        <span class="external">External link</span>
        <a class="permalink" href="{{ post.url }}">Permalink</a>
      {% endif %}
    </div>
    <h1><a href="{% if post.external %} {{ post.external }} {% else %} {{ post.url }} {% endif %}">{{ post.title }}</a></h1>    
    {% if post.summary-only %}
        <div class="summary">
        {{ post.content }}
		 <p> <a href="{{ post.url }}" >阅读全文…</a></p>
        </div>        
    {% else %}
       <p class="post-summary grid_14 prefix_3 alpha omega">{{ post.summary }}</p>
	   <p> <a href="{{ post.url }}" >阅读全文…</a></p>
    {% endif %}    
    <div class="clear"></div>
  </section>
  {% endif %}
{% endfor %}