<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	
	<title>{{ page.title }}</title>
	<meta name="description" content="KENNY的喃喃自语，Wisdom Justice And LovE">
	<meta name="author" content="Kenny QI">
	
	<meta name="viewport" content="initial-scale=1.0, width=device-width" />
	
	<link rel="shortcut icon" type="image/png" href="/favicon.png">
	
	<link rel="stylesheet" href="/stylesheets/compiled/base.css?v=3">

	<!--
	<script type="text/javascript" src="http://use.typekit.com/atw0rqs.js"></script>
	-->
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
  <script src="js/libs/modernizr.custom.45492.js"></script>

</head>