<div id="work">
  <img class="portrait" src="/images/kenny.jpg"/>
  <p>Kenny，85后，2008开始混迹于互联网行业，技术出身，产品略懂，运营略懂，搞过电商、彩票、WIFI、教育、医疗、金融、房产、阅读...目前在创业折腾ing <a href="/about.html" style="font-weight: 800;">About Me 更多...</a></p>
  <nav id="elsewhere">      
    <div class="clear"></div>
  </nav>
</div>
<div id="tags"><h2> 文章分类</h2>
  <ul class="tag_box">
  {% assign categories_list = site.categories %}
  {% include JB/categories_index %}
</ul>
</div>
<div id="tags"><h2> 标签tags</h2>
  <ul class="tag_box">
  {% assign tags_list = site.tags %}  
  {% include JB/tags_index %}
</ul>
</div>
