<div id="work">
  <img class="portrait" src="/images/kenny.jpg"/>
  <p>Kenny，广东人，典型80后，热爱技术与产品. Now I'm Doing Something Really Cool. 曾任职于Guang.com，主要负责系统架构设计、接口规范制定、性能优化、核心功能模块开发、网站SEO等。<a href="/about.html" style="font-weight: 800;">About Me 更多...</a></p>
  <nav id="elsewhere">
    <ul>
      <li><a href="http://weibo.com/kennysay" rel="nofollow">微博</a></li>
      <li><a href="https://twitter.com/#!/sokasa" rel="nofollow">Twitter</a></li>
	   <li><a href="https://plus.google.com/112977545599100694132" rel="nofollow">Google+</a></li>
    </ul>        
    <div class="clear"></div>
  </nav>
</div>
<div id="tags"><h2> 文章分类</h2>
  <ul class="tag_box">
  {% assign categories_list = site.categories %}
  {% include JB/categories_index %}
</ul>
</div>
<div id="tags"><h2> 标签tags</h2>
  <ul class="tag_box">
  {% assign tags_list = site.tags %}  
  {% include JB/tags_index %}
</ul>
</div>