<div id="work">
  <img class="portrait" src="/images/kenny.jpg"/>
  <p>Kenny，80后，失业中，目前正在折腾<a href="http://kenword.com" title="啃词典">kenword.com</a> . 2008开始混迹于互联网行业，曾任职于Guang.com，主要负责系统架构设计、性能优化、核心功能模块开发、网站SEO等。<a href="/about.html" style="font-weight: 800;">About Me 更多...</a></p>
  <nav id="elsewhere">      
    <div class="clear"></div>
  </nav>
</div>
<div id="tags"><h2> 文章分类</h2>
  <ul class="tag_box">
  {% assign categories_list = site.categories %}
  {% include JB/categories_index %}
</ul>
</div>
<div id="tags"><h2> 标签tags</h2>
  <ul class="tag_box">
  {% assign tags_list = site.tags %}  
  {% include JB/tags_index %}
</ul>
</div>
